
</main>
<footer class="container my-3 text-center">{%- if page.layout == 'home' -%}Responsable éditorial : <a href="mailto:alexis.kauffmannREMPLACER_PAR_AROBASEeducation.gouv.fr" title="Chef de projet logiciels et ressources éducatives libres DNE">Alexis Kauffmann</a> / Hébergeur : <a href="mailto:forge-communs-numeriquesREMPLACER_PAR_AROBASEldif.education.gouv.fr" title="Forge Des Communs Numériques Éducatifs">FCNE</a><br/><span class="small">Site conçu par <a href="https://eyssette.forge.apps.education.fr">Cédric Eyssette</a> avec <a href="https://jekyllrb.com/">Jekyll</a> et le thème <a href="https://github.com/DigitaleGesellschaft/jekyll-theme-conference">jekyll-theme-conference</a></span>{%- endif -%}</footer>

{%- include partials/modal_link.html -%}

{%- if site.conference.live.streaming.enable -%}
  {%- include partials/modal_live.html -%}
{%- endif -%}

<!-- Append build time to avoid caching of live program embedded in JavaScript file -->
<script src="{{ site.baseurl }}/assets/js/main.js?t={{ site.time | date: "%s" }}"></script>

<script src="{{ site.baseurl }}/assets/js/fslightbox.js"></script>

</body>
</html>
